.affairWrap {
	display: flex;
	margin: 10px 20px;
}

.affairWrap div {
	width: 100px;
	margin-right: 15px;
}

.affairWrap .title {
	color: red;
	text-transform: uppercase;
}

.affairWrap .priority {
	color: blue;
}

.affairsBox button {
	margin-right: 10px;
}

